

/* ==========================================================================
     DEFAULTS, HELPERS & COMPONENTS
   ========================================================================== */

nav ul{
    margin-bottom:0;
    padding-left: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

img.pull-left{ margin: 4px 20px 10px 0; }
img.pull-right{ margin: 4px 0 10px 20px; }


.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-50{ margin-bottom: 50px; }
.mb-60{ margin-bottom: 60px; }

.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px; }
.mt-60{ margin-top: 60px; }


/* helpers */

.assist{
    position: absolute;
    left: -9999px;
}

.mouseover{
    cursor: pointer;
}

.text-nowrap{
    white-space: nowrap;
}

p > img.pull-left{ margin: 4px 20px 10px 0; }
p > img.pull-right{ margin: 4px 0 10px 20px; }

.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/* components */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom:20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.maps-container {
    position: relative;
    overflow: hidden;
    height: 420px;
}

.maps-container iframe,
.maps-container object,
.maps-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}