

/* ==========================================================================
     DEFAULTS, HELPERS & COMPONENTS
   ========================================================================== */

nav ul{
    margin-bottom:0;
    padding-left: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

img.pull-left{ margin: 4px 20px 10px 0; }
img.pull-right{ margin: 4px 0 10px 20px; }

@media screen and (max-width: 767px) {
    img.pull-left,
    img.pull-right{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        display: block;
        float: none !important;
    }
}


.mb-0{ margin-bottom: 0px !important; }
.mb-10{ margin-bottom: 10px !important; }
.mb-20{ margin-bottom: 20px !important; }
.mb-30{ margin-bottom: 30px !important; }
.mb-40{ margin-bottom: 40px !important; }
.mb-50{ margin-bottom: 50px !important; }
.mb-60{ margin-bottom: 60px !important; }

.mt-0{ margin-top: 0px !important; }
.mt-10{ margin-top: 10px !important; }
.mt-20{ margin-top: 20px !important; }
.mt-30{ margin-top: 30px !important; }
.mt-40{ margin-top: 40px !important; }
.mt-50{ margin-top: 50px !important; }
.mt-60{ margin-top: 60px !important; }

.ml-5{ margin-left: 5px !important; }
.ml-10{ margin-left: 10px !important; }
.ml-15{ margin-left: 15px !important; }
.ml-20{ margin-left: 20px !important; }
.ml-25{ margin-left: 25px !important; }
.ml-30{ margin-left: 30px !important; }

.mr-5{ margin-right: 5px !important; }
.mr-10{ margin-right: 10px !important; }
.mr-15{ margin-right: 15px !important; }
.mr-20{ margin-right: 20px !important; }
.mr-25{ margin-right: 25px !important; }
.mr-30{ margin-right: 30px !important; }


/* helpers */

.assist{
    position: absolute;
    left: -9999px;
}

.mouseover{
    cursor: pointer;
}

.text-nowrap{
    white-space: nowrap;
}


.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/* components */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom:20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.maps-container {
    position: relative;
    overflow: hidden;
    height: 420px;
}

.maps-container iframe,
.maps-container object,
.maps-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}