
/* ==========================================================================
   	TYPOGRAPHY
   ========================================================================== */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-color: #ffffff;
}

a {
	color: #428BCA;
	text-decoration: underline;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

a:hover,
a:focus {
	color: #428BCA;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted #fff;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-family: 'Asap', sans-serif;
}

h1, .h1 { font-size: 28px; }
h2, .h2 { font-size: 22px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 16px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 14px; }

h1:first-child, h2:first-child, h3:first-child{ margin-top: 0; }

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a{
	text-decoration: none;
	color: inherit;
}

h1, p, ul, ol{
	margin-bottom: 20px;
}



/* ==========================================================================
   	STRUCTURE
   ========================================================================== */

.container{
	position: relative;
}

#header{
	padding-top: 20px;
}

#main{
	padding-top: 30px;
}

#footer{
	padding-top: 30px;
}


@media screen and (min-width: 768px) {
	#header { padding-top: 30px; }
}

@media screen and (min-width: 992px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}


/* ==========================================================================
   	LOGO'S
   ========================================================================== */

#logo{
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	max-width: 50%;
}

#logo_100jaar{
	display: none;
	position: absolute;
	right: 330px;
	top: 0;
}

@media screen and (min-width: 768px) {
	#logo{ margin-bottom: 40px; }
	#logo_100jaar{ display: block; }
}

@media screen and (min-width: 992px) {
	#logo{ margin-left: 40px; }
}


/* ==========================================================================
   	NAV QUICK LINKS
   ========================================================================== */

#quick-links{
	line-height: 14px;
	float: right;
}

#quick-links li{
	float: left;
	padding-left: 8px;
	margin-left: 8px;
	border-left: 1px solid #707070;
}
#quick-links li:first-child{ border-left: none; }

#quick-links a{
	color: #666;
}


/* ==========================================================================
   	QUICK SEARCH
   ========================================================================== */

#quick-search{
	display: none;
	clear: right;
	float: right;
	max-width: 180px;
	margin-top: 30px;
	position: relative;
}

#quick-search button{
	position: absolute;
	right: 1px;
	top: 1px;
	height: 32px;
	width: 32px;
	border: none;
	background: url("../img/icon-search.png") no-repeat 50% 50% transparent;
	overflow: hidden;
	text-indent: -9999px;
}

@media screen and (min-width: 768px) {
	#quick-search{ display: block; }
}


/* ==========================================================================
   	NAV TOGGLE
   ========================================================================== */

.nav-toggle {
	border: 1px solid #BBB;
	border-radius: 4px;
	padding: 8px 12px;
	position: absolute;
	right: 15px;
	top: 40px;
	cursor: pointer;
}
.nav-toggle:hover { background-color:#f2f2f2; }

.nav-toggle .icon-bar {
    background-color: #AAA;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
.nav-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}


/* ==========================================================================
   	NAV MAIN
   ========================================================================== */


#nav-main{
	font-size: 16px;
	margin-top: 20px;
	display: none;
}

#nav-main a{
	display: block;
	padding: 4px 15px;
	margin-bottom: 4px;
	text-decoration: none;
	color: #126429;
	background-color: #eeeeee;
	border-radius: 4px;
}

#nav-main > ul > li > a{ font-weight: bold; }

#nav-main a:hover,
#nav-main a.active{
  	background-color: #ddd;
}

#nav-main li ul li{
	padding-left: 20px;
}

@media screen and (min-width: 768px) {
	#nav-main{
		float: right;
		margin-top: 32px;
		display: block !important;
	}

	#nav-main li ul{ display: none; }

	#nav-main li{
		float: left;
		margin-left: 20px;
	}

	#nav-main li:first-child{ margin-left: 0; }

	#nav-main > ul > li > a{
		font-weight: normal;
	}

	#nav-main a.active{
		color: #000;
	}
}


@media screen and (min-width: 992px) {
		#nav-main li{
		margin-left: 30px;
	}
}


/* ==========================================================================
   	LEADER
   ========================================================================== */

#leader{
	border-top: 10px solid #999;
	min-height: 41px;
}

.flexslider{ background-color: #FFF; }


/* ==========================================================================
   	BUTTONS
   ========================================================================== */

.btn{
	text-decoration: none;
}


/* ==========================================================================
   	FORMS
   ========================================================================== */

.form-sm{ max-width: 320px; }

.form-control:focus {
    /*border-color: #711444;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(113, 20, 68, 0.6);*/
}

.form-error{
	border-color: #B94A48;
}


/* ==========================================================================
   	ARTICLE LIST
   ========================================================================== */

.article-list{
	overflow: hidden;
}

.article-list .row{
	padding-top: 20px;
	border-top: 1px solid #E7E7E7;
}

.article-date{
	margin-top: -8px;
}

@media screen and (min-width: 768px) {
	.article-title,
	.article-body{ float: right !important; }
}


/* ==========================================================================
   	SEARCH RESULT
   ========================================================================== */

.item{
	padding-top: 20px;
	border-top: 1px solid #E7E7E7;
}

.highlight {
    /*background-color: #FFFF88;*/
    background-color: #FFE6C9;
}



/* ==========================================================================
   	BREADCRUMB
   ========================================================================== */

.breadcrumb{
	font-size: 11px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.breadcrumb > li{
	padding-left: 0;
}

.breadcrumb > li:before{
	content: "›";
	display: inline-block;
	color: #999;
	padding-right: 8px;
	font-size: 14px;
}

.breadcrumb > li:first-child:before{
	display: none;
}

.breadcrumb a{ color: #999; }


/* ==========================================================================
   	PAGINATION
   ========================================================================== */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #711444;
    border-color: #711444;
}


/* ==========================================================================
   	PDF DOWNLOADS
   ========================================================================== */

.downloads{
	list-style: none;
	padding-left: 0;
}

.downloads > li{
	padding-left: 25px;
	background: url("../img/icon-download.png") no-repeat 0 6px;
	margin-bottom: 10px;
}


/* ==========================================================================
   	GALLERY
   ========================================================================== */

@media screen and (min-width: 480px) and (max-width: 767px) {
	.gallery-item{
		float: left;
		width: 50%;
	}

	.gallery-item:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.gallery-item:nth-child(3n+1) { clear: left; }
}

@media screen and (min-width: 992px) {
	.gallery-item:nth-child(4n+1) { clear: left; }
}


/* ==========================================================================
   	GRID
   ========================================================================== */

@media screen and (min-width: 480px) and (max-width: 767px) {
	.row-clear > div:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.row-clear > div:nth-child(3n+1) { clear: left; }
}

@media screen and (min-width: 992px) {
	.row-clear > div:nth-child(4n+1) { clear: left; }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.col-s-1,.col-s-2,.col-s-3,.col-s-4,.col-s-5,.col-s-6,.col-s-7,.col-s-8,.col-s-9,.col-s-10,.col-s-11{float:left;}
	.col-s-1{width:8.333333333333332%;}
	.col-s-2{width:16.666666666666664%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33333333333333%;}
	.col-s-5{width:41.66666666666667%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.333333333333336%;}
	.col-s-8{width:66.66666666666666%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33333333333334%;}
	.col-s-11{width:91.66666666666666%;}
	.col-s-12{width:100%;}
}


@media screen and (min-width: 480px) and (max-width: 767px) {
	.col-s-clear-6:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.col-sm-clear-3:nth-child(4n+1) { clear: left; }
	.col-sm-clear-4:nth-child(3n+1) { clear: left; }
	.col-sm-clear-6:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.col-md-clear-3:nth-child(4n+1) { clear: left; }
	.col-md-clear-4:nth-child(3n+1) { clear: left; }
	.col-md-clear-6:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 1200px) {
	.col-lg-clear-3:nth-child(4n+1) { clear: left; }
	.col-lg-clear-4:nth-child(3n+1) { clear: left; }
	.col-lg-clear-6:nth-child(2n+1) { clear: left; }
}


/* ==========================================================================
    REPSONSIVE UTILITIES
   ========================================================================== */

@media screen and (max-width: 479px) {
    .block-xs{ display: block; overflow: hidden; }
}

@media screen and (max-width: 767px) {
	.hidden-xs-inline{ display: none; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.hidden-sm-inline{ display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.hidden-md-inline{ display: none; }
}

@media screen and (min-width: 1200px) {
	.hidden-lg-inline{ display: none; }
}

