
/* ==========================================================================
   	TYPOGRAPHY
   ========================================================================== */

html, body{
	height: 100%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-color: #DDD;
}

a {
	color: #428BCA;
	text-decoration: underline;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

a:hover,
a:focus {
	color: #428BCA;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted #fff;
	outline-offset: 0px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-family:Arial, Helvetica, sans-serif;
}

h1, .h1 { font-size: 24px; margin: 0 0 30px 0;}
h2, .h2 { font-size: 20px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 16px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 14px; }

h2:first-child, h3:first-child{ margin-top: 0; }

h2 a, .h2 a, h3 a, .h3 a{
	text-decoration: none;
	color: inherit;
}

p, ul, ol{
	margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
	h1, .h1 { font-size: 36px; }
	h2, .h2 { font-size: 28px; }
	h3, .h3 { font-size: 22px; }
	h4, .h4 { font-size: 18px; }
}


/* ==========================================================================
   	CONTAINER
   ========================================================================== */

.container{
	padding: 0;
	position: relative;
}


/* ==========================================================================
   	PAGE
   ========================================================================== */

.page{
	background-color: #FFF;
}

.page-section{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.page-section--header{
	padding-top: 15px;
	padding-bottom: 15px;
}

.page-section--body{
	padding-top: 30px;
	padding-bottom: 30px;
}

.page-section--footer{
	padding-top: 30px;
	padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
	.page{
		margin-top: 30px;
	}

	.page-section{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (min-width: 992px) {
	.page{
		margin-top: 30px;
	}

	.page-section{
		padding-left: 45px;
		padding-right: 45px;
	}
}


/* ==========================================================================
   	LOGO'S
   ========================================================================== */

.logo{
	margin-top: 10px;
	margin-right: 130px;
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
	.logo{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 0;
		float: left;
	}
}


/* ==========================================================================
   	NAV-PRIMARY
   ========================================================================== */

.nav-primary{
	clear: both;
	display: none;
	margin-left: -15px;
	margin-right: -15px;
	background-color: #023576;
}

.nav-primary > li{
	border-top: 1px solid rgba(255,255,255,0.1);
}

.nav-primary a{
	display: block;
	padding: 10px 15px;
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
}

.nav-primary a.active{
	background-color: rgba(255,255,255,0.1);
}


@media screen and (min-width: 768px) {
	.nav-primary{
		clear: none;
		float: right;
		display: block !important;
		margin-top: 80px;
		background-color: transparent;
	}

	.nav-primary > li{
		float: left;
		border-top: none;
	}

	.nav-primary a{
		color: #333;
		border-top: none;
	}

	.nav-primary a.active{
		color: #428BCA;
		background-color: transparent;
	}
}


@media screen and (min-width: 992px) {
	.nav-primary{
		margin-top: 80px;
	}
}


/* ==========================================================================
   	NAV-SECONDARY
   ========================================================================== */

.nav-secondary{
	position: absolute;
	right: 15px;
	top: 20px;
	font-size: 16px;
}

.nav-secondary > li{
	float: left;
}

.nav-secondary a{
	color: #023576;
	text-decoration: none;
}

.nav-secondary a:hover{
	color: #023576;
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.nav-secondary{
		right: 30px;
	}

	.nav-secondary > li + li{
		padding-left: 10px;
		margin-left: 10px;
		position: relative;
	}

	.nav-secondary > li + li:before{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		height: 18px;
		width: 1px;
		margin-top: -8px;
		background-color: #DDD;
	}
}

@media screen and (min-width: 992px) {
	.nav-secondary{
		right: 45px;
	}
}


/* ==========================================================================
   	NAV TOGGLE
   ========================================================================== */

.nav-toggle {
	position: absolute;
	right: 15px;
	top: 60px;
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	text-decoration: none;
	color: #333;
	font-size: 16px;
}

.nav-toggle:hover,
.nav-toggle:hover,
.nav-toggle:hover{
	color: #333;
	text-decoration: none;
}

.nav-toggle i{
	margin-right: 4px;
}

@media screen and (min-width: 768px) {
	.nav-toggle{
		display: none !important;
	}
}


/* ==========================================================================
   	QUICK SEARCH
   ========================================================================== */

.quick-search{
	display: none;
	clear: right;
	float: right;
	max-width: 180px;
	margin-top: 30px;
	position: relative;
}

.quick-search button{
	position: absolute;
	right: 1px;
	top: 1px;
	height: 32px;
	width: 32px;
	border: none;
	background: url("../img/icon-search.png") no-repeat 50% 50% transparent;
	overflow: hidden;
	text-indent: -9999px;
}

@media screen and (min-width: 768px) {
	.quick-search{ display: block; }
}


/* ==========================================================================
   	BUTTONS
   ========================================================================== */

.btn{
	text-decoration: none;
}

.btn-scrolltop{
	opacity: 0;
	display: inline-block;
	position: fixed;
	z-index: 80;
	right: 15px;
	bottom: 15px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.btn-scrolltop:hover{
	background-color: rgba(0,0,0,0.65);
}

.btn-scrolltop-show{
	opacity: 1;
}


/* ==========================================================================
   	ICONS
   ========================================================================== */

[class^="i-"],
[class*=" i-"] {
    display: inline-block;
    line-height: 0.9;
    vertical-align: middle;
}

[class^="i-"]:before,
[class*=" i-"]:before {
	/*vertical-align: bottom;
	display: inline-block;*/
}

.icon-nav{
	display: inline-block;
	position: relative;
	height: 2px;
	width: 22px;
	background-color: #fff;
	margin: 4px 0;
	border-radius: 1px;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.icon-nav:before,
.icon-nav:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #FFF;
	border-radius: 1px;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.icon-nav:before{ top: -6px; }
.icon-nav:after{ top: 6px; }

.open .icon-nav{ background-color: transparent; }
.open .icon-nav:before{ transform: rotate(45deg); top: 0; }
.open .icon-nav:after{ transform: rotate(-45deg); top: 0; }


.icon-close{
	display: block;
	font-size: 32px;
}
.icon-close:before{
	content: "×";
}

.icon{
	display: inline-block;
	vertical-align: middle;
}

.icon-arrow-down-white{
	width: 21px;
	height: 14px;
	background: url("../img/arrow-down-white.png") no-repeat 0 0;
}

.icon-arrow-up-white{
	width: 21px;
	height: 14px;
	background: url("../img/arrow-up-white.png") no-repeat 0 0;
}


/* ==========================================================================
   	INPUT GROUP
   ========================================================================== */

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  /*border-radius: 6px;*/
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  /*border-radius: 3px;*/
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  /*border-radius: 4px;*/
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  /*border-radius: 3px;*/
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  /*border-radius: 6px;*/
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
  line-height: 1.15em;
}

.input-group-kortingscode{
	max-width: 320px;
}


/* ==========================================================================
   	FORMS
   ========================================================================== */

.form-sm{ max-width: 320px; }

.form-control:focus {
    /*border-color: #711444;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(113, 20, 68, 0.6);*/
}

.form-error{
	/*border-color: #B94A48;*/
	box-shadow: 0 0 3px red;
}


/* ==========================================================================
	IMAGES
   ========================================================================== */

@media screen and (min-width: 768px) {
	.img-zoom{
		overflow: hidden;
		position: relative;
	}

	.img-zoom::after{
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(255,255,255,0);
		-webkit-transition: background-color 0.35s;
		-moz-transition: background-color 0.35s;
		-ms-transition: background-color 0.35s;
		-o-transition: background-color 0.35s;
		transition: background-color 0.35s;
	}

	.img-zoom img{
		min-width: 100%;
		-webkit-transform: scale(1.0,1.0);
		transform: scale(1.0,1.0);
		-webkit-transition: -webkit-transform 0.35s;
		-moz-transition: transform 0.35s;
		-ms-transition: transform 0.35s;
		-o-transition: transform 0.35s;
		transition: transform 0.35s;
	}

	.img-zoom:hover::after,
	.mouseover .img-zoom::after{ background-color: rgba(255,255,255,0.5); }

	.img-zoom:hover img,
	.mouseover .img-zoom img{ transform:scale(1.1,1.1); }
}


/* ==========================================================================
   	ARTICLE LIST
   ========================================================================== */

.article-list{
	overflow: hidden;
}

.article-list .row{
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #E7E7E7;
}

.article-list p{
	margin-bottom: 10px;
}

.article-date{
	margin-top: -8px;
}

h1 + .article-date{
	margin-top: -20px;
}

@media screen and (min-width: 768px) {
	.article-title,
	.article-body{ float: right !important; }
}


/* ==========================================================================
   	SEARCH RESULT
   ========================================================================== */

.item{
	padding-top: 20px;
	border-top: 1px solid #E7E7E7;
}

.highlight {
    /*background-color: #FFFF88;*/
    background-color: #FFE6C9;
}



/* ==========================================================================
   	BREADCRUMB
   ========================================================================== */

.breadcrumb{
	font-size: 11px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.breadcrumb > li{
	padding-left: 0;
}

.breadcrumb > li:before{
	content: "›";
	display: inline-block;
	color: #999;
	padding-right: 8px;
	font-size: 14px;
}

.breadcrumb > li:first-child:before{
	display: none;
}

.breadcrumb a{ color: #999; }


/* ==========================================================================
   	PAGINATION
   ========================================================================== */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #711444;
    border-color: #711444;
}


/* ==========================================================================
   	PDF DOWNLOADS
   ========================================================================== */

.downloads{
	list-style: none;
	padding-left: 0;
}

.downloads > li{
	padding-left: 25px;
	background: url("../img/icon-download.png") no-repeat 0 6px;
	margin-bottom: 10px;
}


/* ==========================================================================
   	GALLERY
   ========================================================================== */

@media screen and (min-width: 480px) and (max-width: 767px) {
	.gallery-item{
		float: left;
		width: 50%;
	}

	.gallery-item:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.gallery-item:nth-child(3n+1) { clear: left; }
}

@media screen and (min-width: 992px) {
	.gallery-item:nth-child(4n+1) { clear: left; }
}


/* ==========================================================================
   	GRID
   ========================================================================== */


@media screen and (min-width: 768px) {
	.row-table {
		display: table;
		table-layout: fixed;
	}

	.row-table [class^="col-"] {
		display: table-cell;
		float: none;
	}
}


@media screen and (min-width: 480px) and (max-width: 767px) {
	.col-s-1,.col-s-2,.col-s-3,.col-s-4,.col-s-5,.col-s-6,.col-s-7,.col-s-8,.col-s-9,.col-s-10,.col-s-11{float:left;}
	.col-s-1{width:8.333333333333332%;}
	.col-s-2{width:16.666666666666664%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33333333333333%;}
	.col-s-5{width:41.66666666666667%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.333333333333336%;}
	.col-s-8{width:66.66666666666666%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33333333333334%;}
	.col-s-11{width:91.66666666666666%;}
	.col-s-12{width:100%;}
}


.col-xs-clear-2:nth-child(6n+1) { clear: left; }
.col-xs-clear-3:nth-child(4n+1) { clear: left; }
.col-xs-clear-4:nth-child(3n+1) { clear: left; }
.col-xs-clear-6:nth-child(2n+1) { clear: left; }

.col-xs-right{ float: right; }
.col-xs-left{ float: left; }



@media screen and (min-width: 480px){
	.col-s-clear-2:nth-child(6n+1), .col-s-clear-2:nth-child(4n+1), .col-s-clear-2:nth-child(3n+1), .col-s-clear-2:nth-child(2n+1){ clear: none; }
	.col-s-clear-3:nth-child(6n+1), .col-s-clear-3:nth-child(4n+1), .col-s-clear-3:nth-child(3n+1), .col-s-clear-3:nth-child(2n+1){ clear: none; }
	.col-s-clear-4:nth-child(6n+1), .col-s-clear-4:nth-child(4n+1), .col-s-clear-4:nth-child(3n+1), .col-s-clear-4:nth-child(2n+1){ clear: none; }
	.col-s-clear-6:nth-child(6n+1), .col-s-clear-6:nth-child(4n+1), .col-s-clear-6:nth-child(3n+1), .col-s-clear-6:nth-child(2n+1){ clear: none; }
	.col-s-clear-2:nth-child(6n+1) { clear: left; }
	.col-s-clear-3:nth-child(4n+1) { clear: left; }
	.col-s-clear-4:nth-child(3n+1) { clear: left; }
	.col-s-clear-6:nth-child(2n+1) { clear: left; }

	.col-s-right{ float: right; }
	.col-s-left{ float: left; }
}

@media screen and (min-width: 768px) {
	.col-sm-clear-2:nth-child(6n+1), .col-sm-clear-2:nth-child(4n+1), .col-sm-clear-2:nth-child(3n+1), .col-sm-clear-2:nth-child(2n+1){ clear: none; }
	.col-sm-clear-3:nth-child(6n+1), .col-sm-clear-3:nth-child(4n+1), .col-sm-clear-3:nth-child(3n+1), .col-sm-clear-3:nth-child(2n+1){ clear: none; }
	.col-sm-clear-4:nth-child(6n+1), .col-sm-clear-4:nth-child(4n+1), .col-sm-clear-4:nth-child(3n+1), .col-sm-clear-4:nth-child(2n+1){ clear: none; }
	.col-sm-clear-6:nth-child(6n+1), .col-sm-clear-6:nth-child(4n+1), .col-sm-clear-6:nth-child(3n+1), .col-sm-clear-6:nth-child(2n+1){ clear: none; }
	.col-sm-clear-2:nth-child(6n+1) { clear: left; }
	.col-sm-clear-3:nth-child(4n+1) { clear: left; }
	.col-sm-clear-4:nth-child(3n+1) { clear: left; }
	.col-sm-clear-6:nth-child(2n+1) { clear: left; }

	.col-sm-right{ float: right; }
	.col-sm-left{ float: left; }
}

@media screen and (min-width: 992px) {
	.col-md-clear-2:nth-child(6n+1), .col-md-clear-2:nth-child(4n+1), .col-md-clear-2:nth-child(3n+1), .col-md-clear-2:nth-child(2n+1){ clear: none; }
	.col-md-clear-3:nth-child(6n+1), .col-md-clear-3:nth-child(4n+1), .col-md-clear-3:nth-child(3n+1), .col-md-clear-3:nth-child(2n+1){ clear: none; }
	.col-md-clear-4:nth-child(6n+1), .col-md-clear-4:nth-child(4n+1), .col-md-clear-4:nth-child(3n+1), .col-md-clear-4:nth-child(2n+1){ clear: none; }
	.col-md-clear-6:nth-child(6n+1), .col-md-clear-6:nth-child(4n+1), .col-md-clear-6:nth-child(3n+1), .col-md-clear-6:nth-child(2n+1){ clear: none; }
	.col-md-clear-2:nth-child(6n+1) { clear: left; }
	.col-md-clear-3:nth-child(4n+1) { clear: left; }
	.col-md-clear-4:nth-child(3n+1) { clear: left; }
	.col-md-clear-6:nth-child(2n+1) { clear: left; }

	.col-md-right{ float: right; }
	.col-md-left{ float: left; }
}

@media screen and (min-width: 1200px) {
	.col-lg-clear-2:nth-child(6n+1), .col-lg-clear-2:nth-child(4n+1), .col-lg-clear-2:nth-child(3n+1), .col-lg-clear-2:nth-child(2n+1){ clear: none; }
	.col-lg-clear-3:nth-child(6n+1), .col-lg-clear-3:nth-child(4n+1), .col-lg-clear-3:nth-child(3n+1), .col-lg-clear-3:nth-child(2n+1){ clear: none; }
	.col-lg-clear-4:nth-child(6n+1), .col-lg-clear-4:nth-child(4n+1), .col-lg-clear-4:nth-child(3n+1), .col-lg-clear-4:nth-child(2n+1){ clear: none; }
	.col-lg-clear-6:nth-child(6n+1), .col-lg-clear-6:nth-child(4n+1), .col-lg-clear-6:nth-child(3n+1), .col-lg-clear-6:nth-child(2n+1){ clear: none; }
	.col-lg-clear-2:nth-child(6n+1) { clear: left; }
	.col-lg-clear-3:nth-child(4n+1) { clear: left; }
	.col-lg-clear-4:nth-child(3n+1) { clear: left; }
	.col-lg-clear-6:nth-child(2n+1) { clear: left; }

	.col-lg-right{ float: right; }
	.col-lg-left{ float: left; }
}



/* ==========================================================================
    REPSONSIVE UTILITIES
   ========================================================================== */

@media screen and (max-width: 479px) {
    .block-xs{ display: block; overflow: hidden; }
}

@media screen and (max-width: 767px) {
	.hidden-xs-inline{ display: none; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.hidden-sm-inline{ display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.hidden-md-inline{ display: none; }
}

@media screen and (min-width: 1200px) {
	.hidden-lg-inline{ display: none; }
}

