
/* ==========================================================================
   	TYPOGRAPHY
   ========================================================================== */

html, body{
	height: 100%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-color: #FFF;
}

a {
	color: #428BCA;
	text-decoration: underline;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

a:hover,
a:focus {
	color: #428BCA;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted #fff;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-family:Arial, Helvetica, sans-serif;
}

h1, .h1 { font-size: 24px; margin: 0 0 30px 0;}
h2, .h2 { font-size: 20px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 16px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 14px; }

h2:first-child, h3:first-child{ margin-top: 0; }

h2 a, .h2 a, h3 a, .h3 a{
	text-decoration: none;
	color: inherit;
}

p, ul, ol{
	margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
	h1, .h1 { font-size: 36px; }
	h2, .h2 { font-size: 28px; }
	h3, .h3 { font-size: 22px; }
	h4, .h4 { font-size: 18px; }
}


/* ==========================================================================
   	CONTAINER
   ========================================================================== */

.container{
	position: relative;
}


@media screen and (min-width: 992px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}


/* ==========================================================================
   	PAGE
   ========================================================================== */

@media screen and (max-width: 767px) {
	.page{
		width: 100%;
		min-height: 100%;
		overflow: hidden;
		background-color: #333;
	}

	.page-section,
	.page-nav{
		-webkit-transition: left 0.2s ease-in;
		-moz-transition: left 0.2s ease-in;
		-ms-transition: left 0.2s ease-in;
		-o-transition: left 0.2s ease-in;
		transition: left 0.2s ease-in;
	}

	.page-section{
		left: 0;
		position: relative;
		background-color: #FFF;
	}

	.page-nav{
		position: fixed;
		top: 0;
		bottom: 0;
		left: -80%;
		width: 80%;
		overflow: auto;
		cursor: auto;
	}

	.page-show-nav .page-section{
		left: 80%;
		position: relative;
		cursor: pointer;
	}

	.page-show-nav .page-section:after{
		content: "";
		display: block;
		position: absolute;
		z-index: 99;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(255,255,255,0.2);
	}

	.page-show-nav .page-nav{
		left: 0;
	}
}


.page-header{
	padding-top: 15px;
}

.page-body{
	padding-top: 30px;
	padding-bottom: 30px;
}

.page-footer{
	padding-top: 30px;
	padding-bottom: 30px;
}


/* ==========================================================================
   	HEADER
   ========================================================================== */

.header-top{
	text-align: right;
	padding-bottom: 10px;
}


/* ==========================================================================
   	LOGO'S
   ========================================================================== */

.logo{
	margin-right: 120px;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.logo{
		margin-right: 0;
		float: left;
	}
}


/* ==========================================================================
   	NAV TOGGLE
   ========================================================================== */

.nav-toggle {
	position: absolute;
	right: 15px;
	top: 50px;
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}

.nav-toggle:hover {
	color: #333;
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}

.nav-toggle i{
	margin-right: 4px;
}

.nav-close{
	float: right;
	margin: 10px;
	padding: 8px 10px;
	display: inline-block;
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	text-decoration: none;
	color: #FFF;
}

.nav-close:hover{
	text-decoration: none;
	color: #FFF;
	background-color: rgba(0,0,0,0.2);
}


@media screen and (min-width: 768px) {
	.nav-toggle,
	.nav-close{
		display: none;
	}
}


/* ==========================================================================
   	ICONS
   ========================================================================== */

.icon-nav{
	display: inline-block;
	position: relative;
	height: 4px;
	width: 22px;
	background-color: #333;
	margin: 4px 0;
	border-radius: 1px;
}

.icon-nav:before,
.icon-nav:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: inherit;
	border-radius: 1px;
}

.icon-nav:before{ top: -7px; }
.icon-nav:after{ top: 7px; }


.icon-close{
	display: block;
	font-size: 32px;
}
.icon-close:before{
	content: "×";
}

.icon{
	display: inline-block;
	vertical-align: middle;
}

.icon-arrow-down-white{
	width: 21px;
	height: 14px;
	background: url("../img/arrow-down-white.png") no-repeat 0 0;
}

.icon-arrow-up-white{
	width: 21px;
	height: 14px;
	background: url("../img/arrow-up-white.png") no-repeat 0 0;
}

/* ==========================================================================
   	NAV
   ========================================================================== */

.nav{
	clear: both;
}

.nav a{
	display: block;
	padding: 10px 15px;
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
	border-top: 1px solid #444;
}

.nav a:hover,
.nav a:focus{
	background-color: rgba(255,255,255,0.1);
}

.nav a.active{
	background-color: #428BCA;
}

.nav li ul a{
	font-size: 16px;
	padding-left: 30px;
}


@media screen and (min-width: 768px) {
	.nav{
		padding-top: 40px;
	}

	.nav li{
		float: left;
	}

	.nav a{
		color: #333;
		border-top: none;
	}

	.nav a.active{
		color: #428BCA;
		background-color: transparent;
	}

	.nav li ul{
		display: none;
	}
}


/* ==========================================================================
   	NAV-PRIMARY
   ========================================================================== */

@media screen and (min-width: 768px) {
	.nav-primary{
		float: right;
	}
}


/* ==========================================================================
   	NAV-SECONDARY
   ========================================================================== */

@media screen and (min-width: 768px) {
	.nav-secondary{
		position: absolute;
		right: 15px;
		top: 20px;
		font-size: 16px;
	}
}



/* ==========================================================================
   	QUICK SEARCH
   ========================================================================== */

.quick-search{
	display: none;
	clear: right;
	float: right;
	max-width: 180px;
	margin-top: 30px;
	position: relative;
}

.quick-search button{
	position: absolute;
	right: 1px;
	top: 1px;
	height: 32px;
	width: 32px;
	border: none;
	background: url("../img/icon-search.png") no-repeat 50% 50% transparent;
	overflow: hidden;
	text-indent: -9999px;
}

@media screen and (min-width: 768px) {
	.quick-search{ display: block; }
}


/* ==========================================================================
   	LEADER
   ========================================================================== */

.leader{
}



/* ==========================================================================
   	BUTTONS
   ========================================================================== */

.btn{
	text-decoration: none;
}

.btn-scrolltop{
	opacity: 0;
	display: inline-block;
	position: fixed;
	z-index: 80;
	right: 15px;
	bottom: 15px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.btn-scrolltop:hover{
	background-color: rgba(0,0,0,0.65);
}

.btn-scrolltop-show{
	opacity: 1;
}


/* ==========================================================================
   	FORMS
   ========================================================================== */

.form-sm{ max-width: 320px; }

.form-control:focus {
    /*border-color: #711444;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(113, 20, 68, 0.6);*/
}

.form-error{
	/*border-color: #B94A48;*/
	box-shadow: 0 0 3px red;
}


/* ==========================================================================
	IMAGES
   ========================================================================== */

@media screen and (min-width: 768px) {
	.img-zoom{
		overflow: hidden;
	}

	.img-zoom img{
		min-width: 100%;
		transform:scale(1.05,1.05);
		-webkit-transition: transform 0.1s ease-in;
		-moz-transition: transform 0.1s ease-in;
		-ms-transition: transform 0.1s ease-in;
		-o-transition: transform 0.1s ease-in;
		transition: transform 0.1s ease-in;
	}

	.img-zoom:hover img,
	.mouseover .img-zoom img{ transform:scale(1.0,1.0); }
}


/* ==========================================================================
   	ARTICLE LIST
   ========================================================================== */

.article-list{
	overflow: hidden;
}

.article-list .row{
	padding-top: 20px;
	border-top: 1px solid #E7E7E7;
}

.article-date{
	margin-top: -8px;
}

@media screen and (min-width: 768px) {
	.article-title,
	.article-body{ float: right !important; }
}


/* ==========================================================================
   	SEARCH RESULT
   ========================================================================== */

.item{
	padding-top: 20px;
	border-top: 1px solid #E7E7E7;
}

.highlight {
    /*background-color: #FFFF88;*/
    background-color: #FFE6C9;
}



/* ==========================================================================
   	BREADCRUMB
   ========================================================================== */

.breadcrumb{
	font-size: 11px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.breadcrumb > li{
	padding-left: 0;
}

.breadcrumb > li:before{
	content: "›";
	display: inline-block;
	color: #999;
	padding-right: 8px;
	font-size: 14px;
}

.breadcrumb > li:first-child:before{
	display: none;
}

.breadcrumb a{ color: #999; }


/* ==========================================================================
   	PAGINATION
   ========================================================================== */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #711444;
    border-color: #711444;
}


/* ==========================================================================
   	PDF DOWNLOADS
   ========================================================================== */

.downloads{
	list-style: none;
	padding-left: 0;
}

.downloads > li{
	padding-left: 25px;
	background: url("../img/icon-download.png") no-repeat 0 6px;
	margin-bottom: 10px;
}


/* ==========================================================================
   	GALLERY
   ========================================================================== */

@media screen and (min-width: 480px) and (max-width: 767px) {
	.gallery-item{
		float: left;
		width: 50%;
	}

	.gallery-item:nth-child(2n+1) { clear: left; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.gallery-item:nth-child(3n+1) { clear: left; }
}

@media screen and (min-width: 992px) {
	.gallery-item:nth-child(4n+1) { clear: left; }
}


/* ==========================================================================
   	GRID
   ========================================================================== */


@media screen and (min-width: 768px) {
	.row-table {
		display: table;
		table-layout: fixed;
	}

	.row-table [class^="col-"] {
		display: table-cell;
		float: none;
	}
}


@media screen and (min-width: 480px) and (max-width: 767px) {
	.col-s-1,.col-s-2,.col-s-3,.col-s-4,.col-s-5,.col-s-6,.col-s-7,.col-s-8,.col-s-9,.col-s-10,.col-s-11{float:left;}
	.col-s-1{width:8.333333333333332%;}
	.col-s-2{width:16.666666666666664%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33333333333333%;}
	.col-s-5{width:41.66666666666667%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.333333333333336%;}
	.col-s-8{width:66.66666666666666%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33333333333334%;}
	.col-s-11{width:91.66666666666666%;}
	.col-s-12{width:100%;}
}


.col-xs-clear-2:nth-child(6n+1) { clear: left; }
.col-xs-clear-3:nth-child(4n+1) { clear: left; }
.col-xs-clear-4:nth-child(3n+1) { clear: left; }
.col-xs-clear-6:nth-child(2n+1) { clear: left; }

.col-xs-right{ float: right; }
.col-xs-left{ float: left; }



@media screen and (min-width: 480px){
	.col-s-clear-2:nth-child(6n+1), .col-s-clear-2:nth-child(4n+1), .col-s-clear-2:nth-child(3n+1), .col-s-clear-2:nth-child(2n+1){ clear: none; }
	.col-s-clear-3:nth-child(6n+1), .col-s-clear-3:nth-child(4n+1), .col-s-clear-3:nth-child(3n+1), .col-s-clear-3:nth-child(2n+1){ clear: none; }
	.col-s-clear-4:nth-child(6n+1), .col-s-clear-4:nth-child(4n+1), .col-s-clear-4:nth-child(3n+1), .col-s-clear-4:nth-child(2n+1){ clear: none; }
	.col-s-clear-6:nth-child(6n+1), .col-s-clear-6:nth-child(4n+1), .col-s-clear-6:nth-child(3n+1), .col-s-clear-6:nth-child(2n+1){ clear: none; }
	.col-s-clear-2:nth-child(6n+1) { clear: left; }
	.col-s-clear-3:nth-child(4n+1) { clear: left; }
	.col-s-clear-4:nth-child(3n+1) { clear: left; }
	.col-s-clear-6:nth-child(2n+1) { clear: left; }

	.col-s-right{ float: right; }
	.col-s-left{ float: left; }
}

@media screen and (min-width: 768px) {
	.col-sm-clear-2:nth-child(6n+1), .col-sm-clear-2:nth-child(4n+1), .col-sm-clear-2:nth-child(3n+1), .col-sm-clear-2:nth-child(2n+1){ clear: none; }
	.col-sm-clear-3:nth-child(6n+1), .col-sm-clear-3:nth-child(4n+1), .col-sm-clear-3:nth-child(3n+1), .col-sm-clear-3:nth-child(2n+1){ clear: none; }
	.col-sm-clear-4:nth-child(6n+1), .col-sm-clear-4:nth-child(4n+1), .col-sm-clear-4:nth-child(3n+1), .col-sm-clear-4:nth-child(2n+1){ clear: none; }
	.col-sm-clear-6:nth-child(6n+1), .col-sm-clear-6:nth-child(4n+1), .col-sm-clear-6:nth-child(3n+1), .col-sm-clear-6:nth-child(2n+1){ clear: none; }
	.col-sm-clear-2:nth-child(6n+1) { clear: left; }
	.col-sm-clear-3:nth-child(4n+1) { clear: left; }
	.col-sm-clear-4:nth-child(3n+1) { clear: left; }
	.col-sm-clear-6:nth-child(2n+1) { clear: left; }

	.col-sm-right{ float: right; }
	.col-sm-left{ float: left; }
}

@media screen and (min-width: 992px) {
	.col-md-clear-2:nth-child(6n+1), .col-md-clear-2:nth-child(4n+1), .col-md-clear-2:nth-child(3n+1), .col-md-clear-2:nth-child(2n+1){ clear: none; }
	.col-md-clear-3:nth-child(6n+1), .col-md-clear-3:nth-child(4n+1), .col-md-clear-3:nth-child(3n+1), .col-md-clear-3:nth-child(2n+1){ clear: none; }
	.col-md-clear-4:nth-child(6n+1), .col-md-clear-4:nth-child(4n+1), .col-md-clear-4:nth-child(3n+1), .col-md-clear-4:nth-child(2n+1){ clear: none; }
	.col-md-clear-6:nth-child(6n+1), .col-md-clear-6:nth-child(4n+1), .col-md-clear-6:nth-child(3n+1), .col-md-clear-6:nth-child(2n+1){ clear: none; }
	.col-md-clear-2:nth-child(6n+1) { clear: left; }
	.col-md-clear-3:nth-child(4n+1) { clear: left; }
	.col-md-clear-4:nth-child(3n+1) { clear: left; }
	.col-md-clear-6:nth-child(2n+1) { clear: left; }

	.col-md-right{ float: right; }
	.col-md-left{ float: left; }
}

@media screen and (min-width: 1200px) {
	.col-lg-clear-2:nth-child(6n+1), .col-lg-clear-2:nth-child(4n+1), .col-lg-clear-2:nth-child(3n+1), .col-lg-clear-2:nth-child(2n+1){ clear: none; }
	.col-lg-clear-3:nth-child(6n+1), .col-lg-clear-3:nth-child(4n+1), .col-lg-clear-3:nth-child(3n+1), .col-lg-clear-3:nth-child(2n+1){ clear: none; }
	.col-lg-clear-4:nth-child(6n+1), .col-lg-clear-4:nth-child(4n+1), .col-lg-clear-4:nth-child(3n+1), .col-lg-clear-4:nth-child(2n+1){ clear: none; }
	.col-lg-clear-6:nth-child(6n+1), .col-lg-clear-6:nth-child(4n+1), .col-lg-clear-6:nth-child(3n+1), .col-lg-clear-6:nth-child(2n+1){ clear: none; }
	.col-lg-clear-2:nth-child(6n+1) { clear: left; }
	.col-lg-clear-3:nth-child(4n+1) { clear: left; }
	.col-lg-clear-4:nth-child(3n+1) { clear: left; }
	.col-lg-clear-6:nth-child(2n+1) { clear: left; }

	.col-lg-right{ float: right; }
	.col-lg-left{ float: left; }
}



/* ==========================================================================
    REPSONSIVE UTILITIES
   ========================================================================== */

@media screen and (max-width: 479px) {
    .block-xs{ display: block; overflow: hidden; }
}

@media screen and (max-width: 767px) {
	.hidden-xs-inline{ display: none; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.hidden-sm-inline{ display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.hidden-md-inline{ display: none; }
}

@media screen and (min-width: 1200px) {
	.hidden-lg-inline{ display: none; }
}

